<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springBoard.user.repository.mybatis.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user (user_id, password, user_name, host_ip, is_user)
        values (#{userId}, #{password}, #{userName}, #{hostIp}, #{isUser})
    </insert>

    <select id="find" resultType="com.springBoard.user.model.User">
        select * from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="hostIp != null and hostIp != ''">
                and host_ip = #{hostIp}
            </if>
            <if test="isUser != null">
                and is_user = #{isUser}
            </if>
        </where>
    </select>

    <select id="findAll" resultType="com.springBoard.user.model.User">
        select * from user
    </select>

    <update id="updateById">
        update user
        set user_id = #{userId},
            password = #{password},
            user_name = #{userName},
            last_login = #{lastLogin},
            host_ip = #{hostIp},
            is_user = #{isUser}
        where id = #{id}
    </update>

</mapper>