<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springBoard.user.repository.mybatis.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user (user_id, password, user_name)
        values (#{userId}, #{password}, #{userName})
    </insert>

    <select id="find" resultType="com.springBoard.user.model.User">
        select * from user
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="userId != null and userId != ''">
                and user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
        </where>
    </select>

    <select id="findAll" resultType="com.springBoard.user.model.User">
        select * from user
    </select>

    <update id="updateById">
        update user
        set password = #{updateParam.password},
            user_name = #{updateParam.userName},
            last_login = #{updateParam.lastLogin}
        where id = #{id}
    </update>

</mapper>