<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springBoard.comment.repository.mybatis.CommentMapper">

    <select id="findList" resultType="com.springBoard.comment.model.Comment">
        select * from comment
        where post_id = #{postId}
        limit #{limit} offset #{offset}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into comment (rid, post_id, user_id, c_time, text)
        values (#{rid}, #{postId}, #{userId}, #{cDate}, #{text})
    </insert>

</mapper>