<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springBoard.post.repository.mybatis.PostMapper">

    <select id="findList" resultType="com.springBoard.post.model.Post">
        select * from post
        where board_id = #{boardId}
        limit #{limit} offset #{offset}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into post (rid,board_id,user_id,title,text)
        values (#{rid}, #{boardId}, #{userId}, #{title}, #{text})
    </insert>

</mapper>